<% layout("layouts/boilerplate") %>
<body>
    <div class=" row">
        <br><br>
        <div class="col-8 offset-2">
    <h2>Create a New Listing</h2>
    <form action="/listings" method="POST">
        <div class ="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Title" class="form-control">
        </div>
        <div class ="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="listing[description]" placeholder="Description" class="form-control">
        </div>
        <div class ="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" name="listing[image]" placeholder="Enter the image URL/link" class="form-control">
        </div>
        <div class="row">
            <div class ="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" placeholder="1200" class="form-control">
            </div>
            <div class ="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control">
            </div>
        </div>
        
        <div class ="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control">
        </div>
        <br><br>
        <button type="submit" id="submit" class="btn btn-dark mb-3">Submit</button>
    </form>
</div>
</div>
</body>
