<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Listings</title>
</head>
<body>
    <h2>Create a New Listings</h2>
    <form action="/listings" method="POST">
    <input type="text" name="listing[title]" placeholder="Title"> <br> <br>
    <input type="text" name="listing[description]" placeholder="Description"> <br> <br>
    <input type="text" name="listing[image]" placeholder="enter the image url/link"> <br> <br>
    <input type="number" name="listing[price]" placeholder="Price"> <br> <br>
    <input type="text" name="listing[location]" placeholder="Location"> <br> <br>
    <input type="text" name="listing[country]" placeholder="Country"> <br>
    <br>
    <button id="submit">Submit</button>
    </form>
</body>
</html>