body{
   font-family: "Plus Jakarta Sans", serif !important;
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
}
.container{
   flex: 1;
}
 
 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-compass{
    font-size: 2rem;
    color: red;
    margin-right: 1rem;
 }
 .nav-link{
    font-size: 1.5rem;
    color: black !important;
 }

 .f-info-links a{
   text-decoration: none;
   color: #222222;
   margin: 0 1rem;
   
 }
 .f-info-socials i{
   font-size: 1.5rem;
   margin: 0 1rem;
   
 }
 .f-info-links,.f-info-socials, .f-info-brand{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .f-info-links a:hover{
   text-decoration: underline;
   
 }
 .f-info-socials{
   width: 100%;
 }
 .f-info{
   text-align: center;
   display: flex;
   height: 8rem;
   background-color: #ebebeb;
   flex-wrap: wrap;
   justify-content: center;
   align-items: space-evenly;
 }
 .card{
  margin-left: 1rem !important;
  margin-right: 1rem !important;
   margin-bottom: 2rem;
   border: none !important;
 }
 .card-img-top{
   border-radius: 0.5rem;
   object-fit: cover;
   width: 100% !important;
 }
 .card-body{
   padding: 0 !important;
 }
.card-img-overlay{
   opacity: 0!important;
}
.card-img-overlay:hover{ 
   opacity: 0.2 !important;
   background-color: white !important;
}
 .listing-link{
   text-decoration: none;
 }
/*show.ejs*/
.show-img{
  height: 30vh;

}
/* .btns{
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem !important;
  margin-left: 10rem !important;
  padding: 1rem !important;
} */